<% layout("layouts/boilerplate.ejs") -%>
<body>

    <div class="filters">
        <div class="filter-container">
            <a href="/listings?filter=trending">
                <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            </a>
            <a href="/listings?filter=beach">
                <div class="filter">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beach</p>
                </div>
            </a>
            <a href="/listings?filter=castle">
                <div class="filter">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castle</p>
                </div>
            </a>
            <a href="/listings?filter=arctic">
                <div class="filter">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Arctic</p>
                </div>
            </a>
            <a href="/listings?filter=views">
                <div class="filter">
                    <div><i class="fa-solid fa-mountain-sun"></i></div>
                    <p>Views</p>
                </div>
            </a>
            <a href="/listings?filter=windmill">
                <div class="filter">
                    <div><i class="fa-solid fa-fan"></i></div>
                    <p>Windmills</p>
                </div>
            </a>
            <a href="/listings?filter=pools">
                <div class="filter">
                    <div><i class="fa-solid fa-water-ladder"></i></div>
                    <p>Pools</p>
                </div>
            </a>
            <a href="/listings?filter=farms">
                <div class="filter">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>farms</p>
                </div>  
            </a>
            <a href="/listings?filter=treehouse">
                <div class="filter">
                <div><i class="fa-solid fa-tree-city"></i></div>
                <p>TreeHouse</p>
            </div>
            </a>      
            <a href="/listings?filter=islands">
                <div class="filter">
                    <div><i class="fa-solid fa-land-mine-on"></i></div>
                    <p>Islands</p>
                </div>
            </a>
            <a href="/listings?filter=camping">
                <div class="filter">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </div>
            </a>
            <a href="/listings?filter=boathouse">
                <div class="filter">
                    <div><i class="fa-solid fa-sailboat"></i></div>
                    <p>BoatHouse</p>
                </div>
            </a>
            <a href="/listings?filter=dome">
                <div class="filter">
                    <div><i class="fa-solid fa-igloo"></i></div>
                    <p>Dome</p>
                </div>
            </a>
        </div>
        <div class="taxes">
            <div class="form-check-reverse form-switch">
                <label class="form-check-label-max" for="flexSwitchCheckDefault">Total before taxes</label>
                <label class="form-check-label-min" for="flexSwitchCheckDefault">Taxes</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mt-2 ">
        <% for(list of listings){ %>
            <a href="/listings/<%= list._id %>" class="card-link">
                <div class="card-listing card col">
                    <img src="<%= list.image.url %>" class="card-img-top card-img-index" alt="<%= list.image.filename %>">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= list.title %></b>
                        <br>
                        &#8377;<%= list.price.toLocaleString("en-IN") %> night
                        <i class="tax-info">+ 18% Tax</i>
                    </p>
                    </div>
                </div>
            </a>
        <% } %>    
    </div>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline";
                }else {
                    info.style.display = "none";
                }
            }
        });
    </script>
</body>